.search-input {
  position: relative;
}

.search-input__item {
  padding: 8px 22px;
  border-radius: 100px;
  outline: none;
  border-color: transparent;
  width: 98%;
  border: 1px solid #dfdfdf;
  background-repeat: no-repeat;
  background-size:24px;
  background-position: top 6px left 15px;
}

.search-input__warning {
  bottom: -10px;
  left: 25px;
  font-size: 10px;
  color: red;
  position: absolute;
}

.search-input__icon {
  position: absolute;
  top: 6px;
  left: 15px;
  width: 24px;
  height: 24px;
}
