.puk-possibility {
  width: 16%;
}

.puk-possibility-add-folder {
  padding: 8px 4px;
}

.puk-possibility-folder-list {
  display: flex;
  flex-direction: column;
}

.puk-possibility-folder-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transition: all 0.5s linear;
}

.puk-possibility-folder-item--active {
  background: #e8f0ff;
}

.puk-possibility-folder-item:hover {
  background: #e8f0ff;
}

.puk-possibility-folder-item-title {
  display: flex;
  cursor: pointer;
}

.puk-possibility-folder-item__icon {
  margin-right: 16px;
  width: 22px;
  height: 18px;
}

.puk-possibility-folder-item__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.puk-possibility-folder-item__dots {
  cursor: pointer;
}

.puk-possibility-subsection__item {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
  cursor: pointer;
}

.puk-possibility-subsection__item:hover {
  background: #e8f0ff;
}

.puk-possibility-subsection__line {
  background: #f1f1f1;
  height: 1px;
  margin-inline: 10px;
}
